body {
  background: linear-gradient(120deg, #dbefff 0%, #f8f9fa 100%);
  min-height: 100vh;
}

form {
  margin: 16px 0;
  padding: 16px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 1px 2px #bbb3;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
input, button {
  padding: 6px;
  border: 1px solid #bbb;
  border-radius: 4px;
}
button {
  cursor: pointer;
  background: #059ed7;
  color: #fff;
  border: none;
}
h2 {
  margin: 0;
}
ul {
  padding-left: 18px;
}
